*,
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #f8f8f9;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

/* Login Page */

.login-container {
  width: 100%;
  height: 100%;
}

.login_content {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
  grid-template-columns: 3fr 2fr;

  > div {
    position: relative;
  }
}

.login_left_content {
  background-image: url(../images/left_img_login.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login_left_inner {
  width: 570px;
  color: #fff;
  padding-top: 110px;
  line-height: 1.5;
  padding-left: 110px;

  > h2 {
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 30px;
  }

  p {
    font-size: 18px;
    font-weight: 100;
    opacity: 0.7;
  }

  img {
    max-width: 160px;
    width: 100%;
  }
}

.login_right_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  margin-top: 30%;
}

.login_left_inner p {
  font-size: 18px;
}

.login_right_inner {
  width: 400px;

  .login_tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

    &.forgot_tabs {
      justify-content: center;
    }

    span {
      font-size: 24px;
      color: #222;
      position: relative;
      cursor: pointer;
      font-weight: 600;

      &.active {
        font-size: 34px;
        font-weight: 700;
        color: #000;

        &:before {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 47px;
          height: 4px;
          background-color: #0091d3;
        }
      }
    }
  }

  form {
    margin-top: 40px;

    .input-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px;
      position: relative;

      span:nth-of-type(1) {
        height: 52px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid #e5e5e5;
        border-right: 0;
        width: 58px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        img {
          width: 45%;

          &.phone_icon {
            width: 33%;
          }
        }
      }

      input {
        height: 52px;
        color: #66676c;
        width: 100%;
        border: 1px solid #e5e5e5;
        padding: 0px 40px 0px 15px;
        font-size: 16px;
        outline: none;
        font-weight: 400;
        opacity: 0.7;
      }

      .right_icon {
        position: absolute;
        right: 12px;
        top: 16px;
        height: 22px;
        width: 22px;
        cursor: pointer;

        img {
          width: 80%;
        }
      }

      button {
        background-color: #fbb445;
        border: none;
        font-size: 18px;
        text-align: center;
        width: 100%;
        color: #fff;
        height: 52px;
        line-height: 52px;
        font-weight: 500;
        opacity: 1;
        right: 0;
        outline: none;
      }

      a.forgot_pass {
        background-color: transparent;
        border: none;
        font-size: inherit;
        text-align: inherit;
        width: auto;
        color: #000;
        height: auto;
        line-height: inherit;
        width: 100%;
        display: flex;
        padding-left: 10px;
      }
    }
  }
}

.error_msg_main {
  position: absolute;
  bottom: 50px;
  color: #ff0000;
}

.login_right_inner form .input-wrapper {
  &.forgot_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &.forgot_content span {
    font-size: 16px;
    text-align: center;
    color: #66676c;
    width: 100%;
    border: none;
  }
}

.login-footer-right {
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  color: #3d3d3d;
  padding-left: 60px;

  a {
    color: #0255a8;
  }
}

/* popup css */

.logout_popup {
  width: 350px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 25px 30px;
  border-radius: 6px;
}

.remove_popup {
  text-align: right;
  margin-bottom: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -17px;
  margin-right: -18px;
}

.logout_popup h4 {
  margin-bottom: 30px;
  text-align: center;
}

.confirm_logout {
  text-align: center;

  button {
    width: 117px;
    height: 40px;
    border-radius: 6px;
    letter-spacing: 1px;
  }
}

.yes_logout {
  border: none;
  color: #fff;
  background: #007dc3;
  margin-right: 35px;
}

.no_logout {
  background: transparent;
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  margin-right: 0;
}

.hoverlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

/* End Login Page */

.navbar-header {
  padding: 0px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  min-height: 60px;
  z-index: 99;
  background-color: #fff;
  box-shadow: 10px 0px 22px #ccc;

  #logo {
    display: inline-block;

    img {
      width: 80px;
    }
  }

  nav {
    float: right;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-header nav ul li {
  position: relative;
  float: left;
  margin: 0 25px;

  a {
    padding: 26px 0 26px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #afafaf;
    font-family: Open Sans;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-top: 2px solid transparent;
    border-top-color: transparent;
  }
}

.side-menuList {
  padding-top: 15px;
  padding-left: 10px;
}

.menu-login a span {
  color: #1f7cc0;

  i {
    color: #646464;
    margin-left: 5px;
  }
}

.user-image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.menu-login span {
  font-family: Myriad Pro;
  font-size: 16px;
}

.user-login {
  display: flex;
  align-items: center;
}

.navbar-header.dashboard-header {
  background-color: #0255a8;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

.logo-dashboard,
.user-profile {
  display: inline-block;
}

.navbar-header.dashboard-header #logo img {
  padding-top: 0px;
}

.user-profile a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;

  span {
    color: #000000;
    display: flex;
    margin-left: 10px;

    i {
      color: #000;
      margin-left: 5px;
    }
  }
}

.dashboardContainer {
  position: relative;
}

.dropdown-head-list {
  &:before {
    content: "";
    position: absolute;
    right: 35px;
    top: -9px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }

  background-color: #fff;
  position: absolute;
  right: 11px;
  top: 52px;
  display: none;
  min-width: 200px;
  border-bottom: 2px solid #0460b1;

  li {
    padding: 15px 8px;
    margin: 0 15px;
    color: #626262;
    font-size: 15px;
    font-family: Open Sans;
    display: flex;
    align-items: center;
  }
}

.user-profile > a > span {
  color: #fff;
  display: flex;
  align-items: center;

  > img {
    margin-left: 10px;
    height: 6px;
  }
}

.dropdown-head-list {
  li {
    > span > span {
      color: #d52222;
    }

    button {
      background: linear-gradient(to right, #1e81c6, #1c9de6);
      border: none;
      font-size: 17px;
      font-weight: 600;
      min-width: 120px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      border-radius: 5px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      justify-content: center;

      > img {
        margin-right: 5px;
        width: 16px;
      }
    }
  }

  > li > img {
    width: 16px;
    height: 16px;
  }
}

.user-profile:hover .dropdown-head-list,
.menu-login:hover .dropdown-head-list {
  display: block;
}

/* Inner Dashboard */

.dashboardContainer-inner {
  padding-top: 65px;
}

#dashboard-rightContainer {
  padding: 0 25px;
  position: relative;
}

.container-head {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 25px 0;
  position: relative;
  align-items: center;
  height: 90px;
}

.dashboard-breadcrumb {
  font-size: 30px;
  color: #3d3d3d;
  position: relative;
  font-family: Open Sans;
}

.breadcrumb-active {
  color: #1f7cc0;
  margin-left: 30px;
  font-weight: 600;
}

.quick-campaign button,
.create-campaign button {
  background: linear-gradient(to right, #1e81c6, #1c9de6);
  color: #fff;
  text-transform: uppercase;
  border: none;
  // font-family: Open Sans;
  font-size: 12px;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.quick-campaign.upload_button button {
  background: #fff;
  color: #828181;
  box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
  pointer-events: none;
}

.upload_button {
  position: relative;
}

.quick-campaign img,
.create-campaign img {
  margin-right: 9px;
  width: 17px;
}

.campaign_upload_wrapper > div {
  margin-right: 60px;
  position: relative;

  &::after {
    position: absolute;
    right: -30px;
    top: 6px;
    height: 30px;
    width: 2px;
    content: "";
    background-color: #cdcece;
  }

  &:last-child::after {
    display: none;
  }
}

.table {
  th,
  td {
    padding: 15px;
    min-width: 180px;
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
  }

  tbody tr {
    height: 60px !important;
  }
}

.dashboard-content {
  overflow-x: auto;
  background: #fff;
}

.table {
  border-collapse: collapse;
  width: 100%;

  th,
  thead {
    border-bottom: 1px #ccc solid;
  }

  tbody tr:nth-child(even) {
    background: #f2f2f2;
  }
}

.error_msg_main1 {
  position: fixed !important;
  top: 20px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  font-size: 18px;
  width: auto;
  right: 0;
  text-align: right;
  z-index: 1111;
  padding: 15px 30px;

  &.success_msgmain {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
}

span {
  outline: none;
}

.value_main {
  max-width: 70px;
  padding: 2px;
  text-align: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup_content {
  background-color: #fff;
  padding: 50px;
  border-radius: 15px;
  max-width: 625px;
  position: relative;

  .form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-group label {
    font-size: 13px;
    display: flex;
    margin-bottom: 5px;
    font-weight: 400;
  }

  input,
  select {
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    width: 250px;
    font-size: 14px;
    padding: 0 15px;
    color: #838383;
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  h2 {
    color: #212121;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 28px;
  }
}

.cmn_btn_wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.popup_content .cmn_btn,
.cmn_bttn {
  width: auto;
  min-width: 180px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-image: linear-gradient(to right, #0255a8, #1094dc);
  height: 50px;
  cursor: pointer;
  padding: 0 10px;
}

.popup_content .close_icon {
  position: absolute;
  right: 50px;
  top: 40px;
  font-size: 28px;
  font-weight: 400;
  cursor: pointer;
}

.campaign_popup {
  display: none;

  &.active {
    display: flex;
  }
}

.cakeuser_popup {
  display: none;

  &.active {
    display: flex;
  }

  .popup_content {
    form {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.popup_content .form-group {
  position: relative;

  span.error_msg {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: #ff0000;
    font-size: 13px;
  }
}

.tabing a {
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px;
  padding: 0 30px;
  color: rgba(255, 255, 255, 0.3);
  position: relative;

  &.active {
    color: rgba(255, 255, 255, 1);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: #fff;
      bottom: -31px;
      left: 0;
    }
  }
}

.team-list {
  max-width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  width: 100%;
  margin-bottom: 30px;
  padding: 40px;

  img {
    width: 30px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #000;
  }

  p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;

    span {
      color: #0255a8;
      font-weight: 700;
    }
  }
}

.team-listing {
  max-width: 1170px;
  width: 100%;
  display: flex;

  /*justify-content: space-between;*/
  flex-wrap: wrap;

  > .team-list:nth-child(3n-1) {
    margin-left: 3.5%;
    margin-right: 3.5%;
  }
}

.team-listing-wrapper {
  min-height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  position: relative;
  margin-top: 0;
  padding-top: 50px;
}

.userlisting_page .container-head {
  padding: 25px;
}

.container_title {
  color: #045dae;
  font-size: 24px;
  font-weight: 600;
  display: none;
}

.adduser_popup,
.edituser_popup {
  display: none;
}

.adduser_popup.active,
.edituser_popup.active {
  display: flex;
}

.pagination {
  display: flex;
  margin: 20px 0;
  justify-content: flex-end;
  width: 100%;

  li {
    &.active {
      background-color: #0460b1;
      color: #fff;
      border: none;
    }

    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    color: rgba(0, 0, 0, 0.6);

    a {
      display: block;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.history_listing {
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  overflow: auto;
  margin-bottom: 30px;
}

.history_list {
  display: flex;
  max-width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #7b7a7a;
  border-radius: 5px;
  margin-right: 30px;
  padding: 20px;
  width: 100%;
  flex-basis: 700px;
  flex-shrink: 0;

  > div {
    width: 30%;
    margin-bottom: 12px;

    span {
      color: #fdfbfb;
      font-size: 14px;
    }

    h2 {
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.campaign_upload_wrapper {
  display: flex;
  align-items: center;
}

.add_campaign_button button {
  font-size: 14px;
  color: #1f7cc0;
  background: transparent;
  border: none;
  font-weight: 600;
  outline: none;
  height: 37px;
  display: flex;
  align-items: center;
  cursor: pointer;

  > img {
    margin-right: 8px;
    width: 24px;
  }
}

.upload_btn_cmn {
  background: linear-gradient(to right, #1e81c6, #1c9de6);
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.quick-campaign.upload_button form {
  display: flex;
  flex-direction: row;

  p {
    position: relative;
    min-width: 200px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    padding: 7px;
    background-color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;

    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
}

.cmn_btn {
  width: auto;
  min-width: 180px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-image: linear-gradient(to right, #0255a8, #1094dc);
  height: 50px;
  cursor: pointer;
}

.approve_btn {
  margin-bottom: 20px;
  justify-content: flex-end;
}

#updated_paid,
#average_cost {
  position: relative;
}

#updated_paid:hover > .dropdown_edited.hover,
#average_cost:hover > .dropdown_edited.hover {
  display: flex;
}

.dropdown_edited {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  flex-direction: column;
  min-width: 100%;
  flex-basis: 100%;
  max-width: 400px;
  z-index: 1;
  top: 100%;
  left: 0;
}

#upload_image_name {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown_edited {
  &:before {
    content: "";
    position: absolute;
    height: 0;
    border: 10px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    content: "";
    position: absolute;
    height: 0;
    border: 10px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
    left: 25px;
    top: -20px;
  }

  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #e6e6e6;
    border-width: 13px;
    margin-left: -12px;
    top: -26px;
    left: 25px;
  }

  p {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    flex-basis: 100%;
    font-size: 13px;
    margin-bottom: 6px;
    font-weight: 600;

    span:last-child {
      color: #0255a8;
    }
  }
}

.campaign_upload_wrapper > div:last-child {
  margin-right: 0px;
}

.add_btn_wrapper {
  display: flex;

  > {
    span {
      padding: 7px 20px;
      background: #fff;
      color: #333333;
      font-size: 14px;
      display: flex;
      align-items: center;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;

      b {
        color: #222;
      }
    }

    button {
      padding: 10px;
      background: linear-gradient(to right, #1e81c6, #1c9de6);
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      border: none;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      cursor: pointer;
    }
  }
}

.sort_icon {
  margin-left: 10px;
  cursor: pointer;
}

.search_export_wrapper button {
  background: linear-gradient(to right, #1e81c6, #1c9de6);
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-family: Open Sans;
  font-size: 12px;
  border-radius: 6px;
  padding: 0px 15px;
  height: 37px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;

  img {
    margin-right: 5px;
    margin-right: 5px;
    width: 18px;
  }

  a {
    color: #fff;
    display: flex;
    align-items: center;
  }
}

.dashboard_wrapper {
  background-color: #fff;
  padding: 20px 0;
}

.search_export_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-right: 20px;
}

.search_wrapper {
  position: relative;
  margin-left: 20px;

  > img {
    position: absolute;
    right: 6px;
    top: 4px;
    padding: 5px;
  }

  input {
    height: 37px;
    padding: 0 40px 0 10px;
    font-size: 14px;
    color: #3d3d3d;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: 1px solid #d6d6d6;
  }
}

.search_submit {
  background: none !important;
  border: none !important;
  position: absolute;
  top: 9px;
  right: 0;
  height: auto !important;
}

.DTFC_LeftHeadWrapper,
.DTFC_LeftBodyLiner {
  background: #fff;
}

.dataTables_info,
#data_table_filter {
  display: none;
}

.edit_icon {
  width: 15px;
  margin-left: 5px;
}

.sign_in_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.login_bg_text {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-style: italic;
  margin-top: 60px;
  font-size: 25px;
  color: #4c4848;
}

.sign_in_btn button {
  border: none !important;
  display: flex !important;
  align-items: center !important;
  padding: 7px 10px;
  background: #fff !important;
  border-radius: 5px !important;
  margin-top: 20px !important;
  cursor: pointer !important;
  border: 2px #518ef8 solid !important;
}

button .google_image img {
  width: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.table_btns {
  display: flex;
  justify-content: space-between;
}

.upload_section {
  display: flex;
}

.month {
  label {
    display: inline-block;
    border: solid 1px rgba(51, 51, 51, 0.2);
    transition: all 0.3s;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    border-radius: 5px;
    height: 37px;
    line-height: 37px;
    width: calc(50% - 14px);
    margin: 7px;
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      border: solid 2px #333333;
      color: #323232;
    }
  }
}

.search_wrapper {
  display: flex;
  align-items: center;
}

img.calender_icon {
  margin-right: 15px;
  width: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0.6;
}

.month_radio {
  position: relative;

  form {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    width: 200px;
    position: absolute;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

.upload-affiliate {
  margin-right: 15px;
  margin-left: 15px;
}

.quick-campaign.advertiser-upload.upload_button form > p {
  border: solid 1px rgba(51, 51, 51, 0.2);
}

input[type="radio"] + label {
  cursor: pointer;
}

.selectedmonth + label {
  border: solid 1px #1e81c6;
  color: #1c9be5;
}

/*input[type="radio"]:checked{
    background: #ff0000;
}*/

.total_count {
  color: #f68b3e;
  font-size: 11px;
  display: block;
}

.open_menu {
  display: inline-flex;
  padding: 5px;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 90px;
  left: 25px;
  cursor: pointer;
  z-index: 2;

  > span {
    background-color: #868686;
    height: 2px;
    width: 15px;
    margin: 1px;
  }
}

.side_menu {
  position: fixed;
  z-index: 1111;
  top: 65px;
  width: 250px;
  left: -350px;
  background-color: #fff;
  height: 100%;
  padding: 20px;
  transition: 1s left;

  &.active {
    left: 0;
    overflow: visible;
  }

  ul li {
    position: relative;
  }
}

.menu_drop {
  position: absolute;
  right: 0;
  top: 25px;
  height: auto !important;
  width: auto !important;
}

.side_menu ul li {
  &.active .menu_drop {
    transform: rotate(180deg);
  }

  a {
    padding: 15px 0;
    color: #497bba;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  .sub_menu {
    margin-left: 25px;
  }

  &.menu_itms {
    .sub_menu {
      display: none;
    }

    &.active .sub_menu {
      display: block;
    }
  }

  .sub_menu a {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
  }

  a img {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.close_menu {
  width: 36px;
  height: 36px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -15px;
  top: 25px;
  cursor: pointer;
}

@media screen and (max-width: 1660px) {
  .login_left_inner > img {
    width: 120px;
  }

  .campaign_upload_wrapper {
    width: 100%;
    justify-content: flex-end;
  }

  .login-footer-right {
    padding-left: 50px;
  }

  .add_btn_wrapper > button {
    padding: 10px;
  }

  .login_left_inner {
    > h2 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  .login_right_inner form .input-wrapper {
    span:nth-of-type(1) {
      height: 45px;
    }

    input {
      height: 45px;
      font-size: 14px;
    }

    a {
      font-size: 16px;
      height: 50px;
      line-height: 50px;

      &.forgot_pass {
        font-size: 14px;
      }
    }

    &.forgot_content span {
      font-size: 14px;
    }
  }

  .login_info_content button {
    font-size: 16px;
    width: 180px;
  }

  .login_right_content {
    margin-top: 100px;
  }

  .login_right_inner form .input-wrapper {
    margin-bottom: 16px;
  }

  .login_left_inner {
    padding-top: 70px;
  }

  .login_right_inner .login_tabs span {
    &.active {
      font-size: 28px;
    }

    font-size: 16px;
  }

  /* .quick-campaign button,
  .create-campaign button {
      padding: 10px;
  } */

  .upload_btn_cmn {
    padding: 7px;
  }

  .quick-campaign.upload_button form p {
    font-size: 12px;
  }

  /* .add_campaign_button button {
      font-size: 18px;
  } */

  .add_campaign_button button > img {
    margin-right: 8px;
    width: 28px;
  }

  .container_title {
    color: #045dae;
    font-size: 22px;
  }

  .cmn_btn,
  .team-list h2 {
    font-size: 18px;
  }

  .popup_content .cmn_btn,
  .cmn_bttn {
    min-width: 150px;
    font-size: 16px;
    height: 44px;
  }

  .popup_content h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .campaign_upload_wrapper > div {
    margin-right: 50px;

    &::after {
      height: 25px;
    }
  }

  /* .add_campaign_button button {
      height: 47px;
  } */

  .popup_content {
    .form-group {
      margin-bottom: 20px;
    }

    input,
    select {
      font-size: 12px;
    }
  }

  .cmn_btn_wrapper {
    margin-top: 30px;
  }

  .popup_content {
    form,
    input,
    select {
      width: 100%;
    }

    max-width: 550px;
    width: 100%;

    .close_icon {
      right: 40px;
      top: 20px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .quick-campaign.upload_button form p {
    min-width: 120px;
  }

  /* .add_campaign_button button{
      font-size: 14px;
  } */
  /* .quick-campaign button, .create-campaign button, .add_btn_wrapper > button{
      font-size: 14px;
  } */
  /* .upload_btn_cmn{
      font-size: 13px;
  } */

  .tabing {
    display: flex;

    a {
      font-size: 15px;

      &.active::after {
        bottom: -35px;
      }
    }
  }

  .campaign_upload_wrapper > div {
    margin-right: 30px;

    &::after {
      right: -16px;
    }
  }

  /* .add_btn_wrapper > span{
      padding: 10px;
      font-size: 15px;
  } */

  .search_export_wrapper button {
    font-size: 14px;
  }

  .table {
    th,
    td {
      font-size: 13px;
    }
  }
}

#data_table_new_filter {
  display: none;
}

.no_records {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  font-size: 22px;
  font-weight: 500;
}

.fixed_width {
  width: 220px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

#wrapper1 {
  width: 800px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 20px;
  float: right;
}

#div1 {
  width: 100%;
  height: 20px;
}

.edit_icon {
  width: 13px;
}

.month_radio form {
  display: none;

  &.active {
    display: flex;
  }
}

table tbody .input_wrapper_invoice input {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  -webkit-appearance: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  &[type="submit"] {
    background: linear-gradient(to right, #1e81c6, #1c9de6);
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0px;
    width: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.upload_download {
  form {
    display: flex;
    flex-direction: row;
  }

  img {
    width: 18px;
    margin-right: 10px;
  }

  input[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  form p {
    position: relative;
    min-width: 200px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    padding: 7px;
    background-color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    border: 1px solid #d6d6d6;

    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
}

table tbody .input_wrapper_invoice form {
  display: flex;
}

.download_buttn {
  color: #0460b1;
}

.add_btn_wrapper > button.btn_wrapp {
  border-radius: 6px;
}

.approved_row {
  .editMode {
    display: none !important;
  }

  .saveMode {
    display: flex !important;
  }
}
